# Compiled Lua sources
luac.out

# luarocks build files
*.src.rock
*.zip
*.tar.gz

# Object files

# Precompiled Headers
*.gch
*.pch

# Libraries
# Shared objects (inc. Windows DLLs)
*.dylib

# Executables
*.exe
*.out
*.x86_64

